// header
.hero{
  background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440");
  background-size: cover;
  height:700px;
  display:flex;
  align-items: center;
  .container{
    width:$midContainer;
    padding: $pd;
    color:$secondaryColor;
    img{
      height:60px;
    }
    h1{
      font-size:$bigText;
      margin: $mg 0;
    }
    h2{
      font-size: $midText;
      margin: $mg 0;
    }
    a {
      margin-right:20px;
    }
  }
}
