#main-menu{
  display:flex;
  justify-content: space-between;
  padding: 5px 20px;
  height:50px;

  .logo{
    display:flex;
    align-items: center;
    img{
      height:25px;
    }
  }
  .nav-bar{
    @include displayRules;
    list-style-type: none;
    li{
      padding: 10px 15px;
      a{
        text-decoration: none;
        color:#000;
        font-size:14px;
        font-weight: bold;
        i{
          margin-left:5px;
        }
      }

    }
  }
  .login{
    display:flex;
    align-items: center;
    & > a{
      margin-right:10px;
    }
    a{
      text-decoration: none;
      color:#000;
      font-size: 14px;
    }
  }
}
