// font size

$bigText: 45px;

$midText: 22px;

$smallText: 18px;

// color

$mainColor: #0D66D0;

$secondaryColor: #fff;

// container

$bigContainer: 1200px;

$midContainer:800px;

// padding and margin

$pd: 50px;

$mg: 20px;
